<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Manage Order</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" type="text/css"href="/css/App.css">
</head>
<body>
    <h1>Welcome to Order Submission Page</h1>
    <p>Order Submission Form</p>
    <form action="api/v1/order" method="POST">
        <div>
            <input placeholder="Enter name" id="name" type="text" name="name">
        </div>
        
        <div>
            <input placeholder="Enter email" id="email" type="text" name="email">
        </div>

        <div>
            <span >Address </span><br/>
            	<input  placeholder="Enter Street Address 1" id="streetAdress1" type="text" name="streetAdress1"><br/>
                <input  placeholder="Enter Street Address 2" id="streetAdress2" type="text" name="streetAdress2"><br/>
                <input  placeholder="Enter Zip Code" id="zip" type="text" name="zip"><br/>
                <input  placeholder="Enter Country" id="country" type="text" name="country"><br/>
        </div>
        
        <div>
            <span >Shopping Item List </span>
            <div>
            	<input type="checkbox" id="books" name="books" value="books">
				<label for="books">Books</label>
                
                <input type="checkbox" id="groceries" name="groceries" value="groceries">
                <label for="groceries">Groceries</label>
                
                <input type="checkbox" id="electronics" name="electronics" value="electronics">
				<label for="electronics">Electronics</label>
        	</div>
        </div>
        <div>
            <button type="submit">
                Submit Order
            </button>
        </div>
    </form>
    <script
    src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"
  ></script>
  <script
    src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"
  ></script>
  <script
    src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"
  ></script>
</body>
</html>