.categoryContainer{
    display:flex;
    max-width:inherit;
    height: max-content;
    margin-left: 2%;
    min-height: 78vh;
}

.leftPanel{
    width:10%;
    border-right: 1px solid orange
}

.categoryContent{
    width:80%;
    margin-left:3%;
    display:flex;
    flex-wrap: wrap;
    margin-bottom: 5%;
}

.categoryContent img{
    border-radius: 0px !important;
}