.ordersContainer{
    margin-left: 10%;
    margin-top:3
}

.orderDetails{
    margin-top: 30px;
}

.orderDetails p{
    margin:0px;
    font-family: monospace;
}

.orderDetails label{
    color:green;
    font-weight: bold;
    font-family: monospace;
}
