.productsContainer{
    text-align: center !important;
    margin-top: 4%;
    /* display:flex;
    justify-content: space-between; */
    flex-wrap: wrap;
}

.productsContainer img{
    width : 100px;
    border-radius: 0 !important;
    border :0px !important;
    height:160px
}

.productItem{
    width: 100%;
    height: 200px;
    cursor: pointer;
    margin-right: 25px;
    text-align: center;
    border: 1px !important;
}