<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shopping Cart</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" type="text/css"href="/css/shoppingcart.css">
</head>
<body>
    <h3>Welcome to Shopping Cart Application</h3>
    <div>
    <form action="api/v1/register" method="POST">
        <table>
            <tr><td><input type="text" placeholder="Enter User Name" name="username" id="username"><td></tr>
            <tr><td><input type="password" placeholder="Enter Password" name="password" id="password"></td></tr>
            <tr><td><input type="email" placeholder="Enter email" name="email" id="email"></td></tr>
            <tr><td><br/><button type="submit">Create User</button></td></tr>
        </table>
    </form>

    <form class="loginuser" action="api/v1/login" method="POST">
        <table>
            <tr><td><input type="text" placeholder="Enter User Name" name="username" id="username"></td></tr>
            <tr><td><input type="password" placeholder="Enter Password" name="password" id="password"></td></tr>
            <tr><td><br/><button type="submit">Login</button></td></tr>
        </table>
    </form>
    </div>
</body>
</html>