  form {
    padding-top: 10px;
     display: inline-block;
     border-style: inset;
     background: -webkit-gradient(linear, left top, right top, color-stop(0%,#999897), color-stop(40%,#757473), color-stop(100%,gray));
    }

  body{
    padding-top: 50px;
    text-align: center;
  }

  div {
    padding-top: 2px;
    padding-bottom: 2px;
  }
  
  input{
    
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right:5px;
    padding-left:5px;
  }